﻿@using Isi2.Projekt.Contracts
@model Isi2.Projekt.Contracts.Common.PagedListResultContract<Isi2.Projekt.Contracts.EntryContract>
@{
    int page = (int)Math.Ceiling(Model.Count / 10.0);
    Func<string> GenerateHash = () => Isi2.Projekt.Web.Helpers.AccessGroupSecurityProvider
        .Instance.GenerateHash(((UserContract)Session["currentUser"]).Id);

    Func<bool> IsMod = () =>
    {
        bool result = false;
        if (!User.Identity.IsAuthenticated)
            return false;
        result = (Session["isMod"] as bool?) == true
        || (Session["isAdmin"] as bool?) == true;
        return result;
    };
}

<h3>Najlepsze</h3>
<div>@ViewData["Nessage"]</div>
@foreach (var item in Model.Items)
{ 
    @Html.Partial("_Entry", item)
}

<div class="pagination">
    <ul>
        @for (int i = @Model.Page + 1; i < Model.Page + page + 1; i++)
        { 
            <li><a href="@Url.Action("Index", "Entry", new { page = i })">@i</a></li>
        }
    </ul>
</div>

@if (IsMod())
{
    <script type="text/javascript">
        $(".btn-danger").click(function() {
            if (this.title === "Ukryj") {
                var id = this.id;
                $.ajax({
                    url: "Entry/HideImage?h=@GenerateHash()",
                    type: "get",
                    data: { imageId: id },
                    success: function() {
                        $("#" + id).parent().parent().parent().slideUp("slow");
                    },
                    error: function() {
                        alert("failure");
                    }
                });

            }
        })

    </script>
}
