﻿@using Isi2.Projekt.Contracts
@model UserContract
<div style="width: 300px; height: 100px;">
    <div id="summary" style="display:none;"></div>
    <div><span>Czy jesteś pewny, że chcesz odbanować użytkownika: <b>@Model.Login</b></span></div>
    <input id="btn" type="button" value="Tak" class="btn pull-left btn-inverse" />


</div>

<script type="text/javascript">
    @{
        Func<string> GenerateHash = () => Isi2.Projekt.Web.Helpers.AccessGroupSecurityProvider
                                              .Instance.GenerateHash(((UserContract)Session["currentUser"]).Id);
    }
    $(document).ready(function () {
        $('#btn').bind('click', function() {
            $.ajax({
                url: '@Url.Action("UnBan", "Administrator", new { h = GenerateHash()})',
                data: { userId: '@Model.Id' },
                dataType: 'json',
                success: function(result) {
                    if (result.status == 'OK') {
                        $('#summary').css('background-color', 'green');
                    } else {
                        $('#summary').css('background-color', 'red');
                    }

                    $('#summary').css('color', 'white');
                    $('#summary').html(result.message);
                    $('#summary').show('slide');

                }
            });
        });
    });

</script>
