﻿@using Isi2.Projekt.Contracts
@model Isi2.Projekt.Contracts.UserContract
<div>
    <hr />
    <div class="alert alert-info"><h4>Użytkownik @Model.Login</h4></div>
    <div class="well well-large">
    
        
        <table>
            <tr>
                <td>Data ostatniego logowania: </td>
                <td>@Html.DisplayFor(model => model.Date_last_login)</td>
            </tr>
            <tr>
                <td>Data założenia konta: </td>
                <td>@Html.DisplayFor(model => model.Date_created)</td>
            </tr>
            <tr>
                <td>Zbanowany: </td>
                <td><b>
                        @if (Model.Banned.HasValue && Model.Banned.Value)
                        {
                            <span style='color: red;'>TAK</span>
                        }
                        else
                        {
                            <span style='color: green;'>NIE</span>
                
                        }
                    </b>
                </td>
            </tr>
            @if (Model.Banned.HasValue && Model.Banned.Value)
            {
                <tr>
                    <td>Powód zbanowania: </td>
                    <td>@Html.DisplayFor(model => model.Ban_reason)</td>
                </tr>     
            }

            <tr>
                <td>Uprawnienia moderatora: </td>
                <td><b>
                        @if (Model.Is_mod.HasValue && Model.Is_mod.Value)
                        {
                            <span style='color: green;'>TAK</span>
                        }
                        else
                        {
                            <span style='color: red;'>NIE</span>
                
                        }
                    </b>
                </td>
            </tr>
            <tr>
                <td>Uprawnienia administratora: </td>
                <td><b>
                        @if (Model.Is_admin.HasValue && Model.Is_admin.Value)
                        {
                            <span style='color: green;'>TAK</span>
                        }
                        else
                        {
                            <span style='color: red;'>NIE</span>
                
                        }
                    </b>
                </td>
            </tr>

        </table>
    </div>
    <a id="btnBanuj" href="#" class="btn pull-left btn-inverse">Banuj</a>
    <a id="btnUprawnienia" href="#" class="btn pull-left btn-inverse">Nadaj uprawnienia</a>

</div>



<script type="text/javascript">
     @{ Func<string> GenerateHash = () => Isi2.Projekt.Web.Helpers.AccessGroupSecurityProvider
        .Instance.GenerateHash(((UserContract)Session["currentUser"]).Id);
        
        }
    $(document).ready(function () {
        if ('@Model.Banned' == 'True') {
            $('#btnBanuj').text('Odbanuj');
        }
        $('#btnBanuj').bind('click', function () {
            $.fancybox({
                'type': 'ajax',
                'href': $('#btnBanuj').text() == 'Odbanuj' ? '@Url.Action("UnBanUser", new { userId = Model.Id})&h=@GenerateHash()' :
                    '@Url.Action("BanUser", new { userId = Model.Id, })&h=@GenerateHash()',
                autoDimensions: false,
                height: 300,
                width: 400,
                'afterClose': function () {
                    //alert("powinno przeladować");
                    $.ajax({
                        url: '@Url.Action("UserCard", "Administrator", new { h = GenerateHash() })',
                        data: { id: '@Model.Id' },
                        dataType: 'html',
                        success: function(result) {
                            $('#userCard').html(result);
                        },
                    });
                }


            });
        });
        $('#btnUprawnienia').bind('click', function () {
            $.fancybox({
                'type': 'ajax',
                'href': '@Url.Action("SetPermissions", new { userId = Model.Id })&h=@GenerateHash()',
                autoDimensions: false,
                height: 300,
                width: 400,
                'afterClose': function () {
                    //alert("powinno przeladować");
                    $.ajax({
                        url: '@Url.Action("UserCard", "Administrator",new { h = GenerateHash() })',
                        data: {id:'@Model.Id'},
                        dataType: 'html',
                        success: function (result) {
                            $('#userCard').html(result);
                        },

                    })
                }

            });
        });
    });

</script>
